/*
    000 - 600      phone
    600 - 900      tablet portrait
    900 - 1200     tablet landscape
    [1200 - 1800]  normal styles
    1800 +         big desktop
*/
/*

Breakpoint argument choices

-phone
-tab-port
-tab-land
-big-desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 51.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 40.625em) {
  html {
    font-size: 37.5%;
  }
}
@media (min-width: 120em) {
  html {
    font-size: 75%;
  }
}

body {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  color: #F3F4F4;
  padding: 0;
  padding-bottom: 0;
  padding-top: 0;
}

a,
a:link,
a:visited {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit] {
  color: inherit;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #050505;
}
.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/compressjpeg/fondo_principal.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  filter: opacity(0.4);
}
.header__content {
  position: relative;
  width: 85%;
  height: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 40.625em) {
  .header__content {
    width: 80%;
    height: 80%;
  }
}
.header__servicios {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 0 50%;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
@media (max-width: 40.625em) {
  .header__servicios {
    flex-direction: column;
    width: 100%;
    bottom: 50%;
    right: 50%;
    translate: 50% 50%;
  }
}
.header__servicios__title {
  font-size: 2.5rem;
}
@media (max-width: 51.25em) {
  .header__servicios__title {
    font-size: 3rem;
  }
}
@media (max-width: 40.625em) {
  .header__servicios__title {
    font-size: 4rem;
  }
}
.header__servicios.show {
  opacity: 1;
}
.header__servicios a i {
  color: white;
  font-size: 4rem;
  margin-left: 2rem;
  transition: scale 0.1s ease-in;
}
@media (max-width: 75em) {
  .header__servicios a i {
    font-size: 6rem;
  }
}
@media (max-width: 51.25em) {
  .header__servicios a i {
    font-size: 7rem;
  }
}
@media (max-width: 40.625em) {
  .header__servicios a i {
    font-size: 7rem;
    margin-top: 3rem;
  }
}
.header__servicios a i:hover {
  scale: 1.2;
}
.header__content img.logo {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  margin: 0 auto;
  width: 30%;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
@media (max-width: 40.625em) {
  .header__content img.logo {
    width: 50%;
  }
}
.header__content img.logo.show {
  opacity: 1;
}
.header__content a.local-logo {
  position: absolute;
  top: 50%;
  translate: 0% -50%;
  margin: 0 auto;
  width: 30%;
  opacity: 0;
  transition: opacity 0.2s ease-in, translate 0.4s ease-in;
}
@media (max-width: 75em) {
  .header__content a.local-logo {
    width: 40%;
  }
}
@media (max-width: 40.625em) {
  .header__content a.local-logo {
    width: 50%;
  }
}
.header__content a img {
  width: 100%;
  height: 100%;
  transition: scale 0.1s ease-in;
}
.header__content a img:hover {
  scale: 1.2;
}
.header__content a.local-logo.show {
  opacity: 1;
}
.header__content a.local-logo.translated {
  top: 100%;
  width: 10%;
  left: 0;
}
@media (max-width: 51.25em) {
  .header__content a.local-logo.translated {
    width: 22%;
  }
}
@media (max-width: 40.625em) {
  .header__content a.local-logo.translated {
    width: 30%;
  }
}

.name {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  margin: 0 auto;
  opacity: 0;
  font-size: 8rem;
  transition: opacity 0.5s ease-in;
}
@media (max-width: 40.625em) {
  .name {
    top: 2%;
    width: 50%;
  }
}

.name.show {
  opacity: 1;
}

.grid {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.grid__grid {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 1.3rem 1.3rem;
  grid-template-columns: repeat(2, 1fr) repeat(2, 0.5fr) 1fr;
  grid-template-rows: repeat(2, 1fr);
}
@media (max-width: 51.25em) {
  .grid__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr;
  }
}
.grid__element {
  height: 100%;
  background-color: black;
  border-radius: 4px;
  position: relative;
}
.grid__element--1 {
  grid-row: 1/4;
  grid-column: 1/2;
}
@media (max-width: 51.25em) {
  .grid__element--1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}
.grid__element--2 {
  grid-row: 1/2;
  grid-column: 2/4;
}
@media (max-width: 51.25em) {
  .grid__element--2 {
    grid-row: 2/4;
    grid-column: 1/2;
  }
}
.grid__element--3 {
  grid-row: 1/2;
  grid-column: 4/6;
}
@media (max-width: 51.25em) {
  .grid__element--3 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
.grid__element--4 {
  grid-row: 2/3;
  grid-column: 2/3;
}
@media (max-width: 51.25em) {
  .grid__element--4 {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}
.grid__element--5 {
  grid-row: 2/3;
  grid-column: 3/5;
}
@media (max-width: 51.25em) {
  .grid__element--5 {
    grid-row: 3/5;
    grid-column: 2/3;
  }
}
.grid__element--6 {
  grid-row: 2/3;
  grid-column: 5/6;
}
@media (max-width: 51.25em) {
  .grid__element--6 {
    grid-row: 5/6;
    grid-column: 1/3;
  }
}
.grid__element__background {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  filter: opacity(0.4) grayscale(1);
}
.grid__element__background--1 {
  background: url("../img/compressjpeg/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__element__background--2 {
  background: url("../img/compressjpeg/2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__element__background--3 {
  background: url("../img/compressjpeg/3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__element__background--4 {
  background: url("../img/compressjpeg/4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__element__background--5 {
  background: url("../img/compressjpeg/5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__element__background--6 {
  background: url("../img/compressjpeg/6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__element__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid__element__title {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  background: linear-gradient(white, white);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  padding-bottom: 0.3rem;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  text-shadow: 0 0 0.5rem #050505;
  transition: scale 0.1s ease-in;
}
.grid__element__title:hover {
  scale: 1.1;
}
@media (max-width: 75em) {
  .grid__element__title {
    font-size: 2.2rem;
  }
}
.grid__element:hover > .grid__element__background {
  filter: grayscale(0.1) opacity(0.8);
}
.grid__element:hover > div:nth-child(2) a {
  opacity: 1;
}
.grid__element i {
  font-size: 4rem;
}
.grid__element__button {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  translate: -50% 0;
  padding: 0.8rem 1.3rem;
  border-radius: 2px;
  font-size: 1.2rem;
  color: #050505;
  background-color: #F3F4F4;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup__container {
  width: 100%;
  background-color: #F3F4F4;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: background-size 0.3s ease-in 0.1s;
}

.popup-paquetes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in, visibility 0.4s ease-in;
  background-color: #F3F4F4;
}
.popup-paquetes:target {
  visibility: visible;
  opacity: 1;
}
.popup-paquetes__container {
  width: 100%;
  background-color: #F3F4F4;
  padding-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-paquetes__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: background-size 0.3s ease-in 0.1s;
}
.popup-paquetes__section {
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.section-alpha {
  position: relative;
  width: 100%;
  height: calc(100vh - 14rem);
  padding: 2rem 6rem 1rem 6rem;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-alpha__top-line {
  align-self: flex-start;
  width: 92%;
  height: 5rem;
  background: linear-gradient(#050505, #050505);
  background-repeat: no-repeat;
  background-position: 6rem 0%;
  background-size: 0% 1px;
  transition: background-size 0.3s ease-in;
}
@media (max-width: 75em) {
  .section-alpha__top-line {
    width: 89%;
  }
}
@media (max-width: 51.25em) {
  .section-alpha__top-line {
    width: 86%;
  }
}
@media (max-width: 40.625em) {
  .section-alpha__top-line {
    width: 80%;
  }
}
.section-alpha__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 38% 1fr;
  grid-template-rows: 1fr;
}
@media (max-width: 51.25em) {
  .section-alpha__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 38%;
  }
}
.section-alpha__left {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.section-alpha__image {
  width: 90%;
  height: 90%;
  background: url("../img/compressjpeg/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 51.25em) {
  .section-alpha__image {
    width: 100%;
    height: 100%;
  }
}
.section-alpha__image2 {
  width: 90%;
  height: 90%;
  background: url("../img/compressjpeg/2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 51.25em) {
  .section-alpha__image2 {
    width: 100%;
    height: 100%;
  }
}
.section-alpha__image3 {
  width: 90%;
  height: 90%;
  background: url("../img/compressjpeg/3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 51.25em) {
  .section-alpha__image3 {
    width: 100%;
    height: 100%;
  }
}
.section-alpha__image4 {
  width: 90%;
  height: 90%;
  background: url("../img/compressjpeg/4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 51.25em) {
  .section-alpha__image4 {
    width: 100%;
    height: 100%;
  }
}
.section-alpha__image5 {
  width: 90%;
  height: 90%;
  background: url("../img/compressjpeg/5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 51.25em) {
  .section-alpha__image5 {
    width: 100%;
    height: 100%;
  }
}
.section-alpha__image6 {
  width: 90%;
  height: 90%;
  background: url("../img/compressjpeg/6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 51.25em) {
  .section-alpha__image6 {
    width: 100%;
    height: 100%;
  }
}
.section-alpha__right {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3rem;
  background: linear-gradient(#050505, #050505);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 1px 100%;
  color: #050505;
}
@media (max-width: 51.25em) {
  .section-alpha__right {
    padding-left: 3rem;
    background-position: 0% 4rem;
    background-size: 1px 70%;
  }
}
.section-alpha__right::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 8rem;
  width: 1rem;
  background-color: #050505;
  translate: 0 3rem;
}
@media (max-width: 51.25em) {
  .section-alpha__right::after {
    translate: 0 6rem;
  }
}
.section-alpha__type {
  position: fixed;
  top: 15rem;
  right: 0;
  padding: 0.8rem 4rem 0.8rem 2rem;
  background-color: rgb(221, 188, 3);
  color: #F3F4F4;
  font-size: 3rem;
  font-weight: 600;
  z-index: 100;
}
.section-alpha__title {
  font-size: 5rem;
  font-weight: 800;
}
@media (max-width: 75em) {
  .section-alpha__title {
    font-size: 5rem;
  }
}
@media (max-width: 40.625em) {
  .section-alpha__title {
    font-size: 4.1rem;
  }
}
.section-alpha__list {
  font-size: 2.3rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
@media (max-width: 75em) {
  .section-alpha__list {
    font-size: 2.5rem;
  }
}
@media (max-width: 51.25em) {
  .section-alpha__list {
    font-size: 2.8rem;
  }
}
@media (max-width: 40.625em) {
  .section-alpha__list {
    font-size: 2.4rem;
  }
}

.section-beta {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-beta__background {
  width: 100%;
  height: 100%;
  background: url("../img/compressjpeg/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: opacity(0.2);
}
.section-beta__background2 {
  width: 100%;
  height: 100%;
  background: url("../img/compressjpeg/13.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: opacity(0.5) blur(2px);
}
.section-beta__background3 {
  width: 100%;
  height: 100%;
  background: url("../img/compressjpeg/4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: opacity(0.5) blur(2px);
}
.section-beta__title {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  width: 55%;
  position: absolute;
  top: 8%;
}
@media (max-width: 75em) {
  .section-beta__title {
    font-size: 3.3rem;
  }
}
@media (max-width: 51.25em) {
  .section-beta__title {
    width: 90%;
  }
}
@media (max-width: 40.625em) {
  .section-beta__title {
    width: 70%;
  }
}
.section-beta__title2 {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  width: 42%;
  position: absolute;
  top: 8%;
  left: 20rem;
}
@media (max-width: 75em) {
  .section-beta__title2 {
    font-size: 3.3rem;
  }
}
@media (max-width: 51.25em) {
  .section-beta__title2 {
    width: 90%;
  }
}
@media (max-width: 40.625em) {
  .section-beta__title2 {
    width: 70%;
  }
}
.section-beta__text-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 61%;
  padding-top: 8rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(#F3F4F4, #F3F4F4);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 1px 100%;
  text-align: right;
}
@media (max-width: 51.25em) {
  .section-beta__text-box {
    bottom: 50%;
    translate: 0 30%;
    padding-left: 5%;
  }
}
@media (max-width: 40.625em) {
  .section-beta__text-box {
    width: 80%;
    bottom: 50%;
    right: 50%;
    translate: 50% 30%;
    padding-left: 5%;
    padding-right: 0;
    align-self: center;
    background-position: 0 0;
    background-size: 1px 90%;
  }
}
.section-beta__text-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 6rem;
  background-color: #F3F4F4;
  translate: 0 10rem;
}
.section-beta__text-box__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 2.3rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
@media (max-width: 75em) {
  .section-beta__text-box__list {
    font-size: 2.5rem;
  }
}
@media (max-width: 51.25em) {
  .section-beta__text-box__list {
    font-size: 2.8rem;
  }
}
@media (max-width: 40.625em) {
  .section-beta__text-box__list {
    font-size: 2.6rem;
  }
}
@media (max-width: 40.625em) {
  .section-beta__text-box__list li {
    text-align: right;
  }
}
.section-beta__text-box__title {
  font-size: 5rem;
}
@media (max-width: 75em) {
  .section-beta__text-box__title {
    font-size: 5rem;
  }
}
@media (max-width: 40.625em) {
  .section-beta__text-box__title {
    text-align: right;
    font-size: 4.1rem;
  }
}
.section-beta__image {
  position: absolute;
  bottom: 0;
  left: 10rem;
  translate: 0 12rem;
  height: 70%;
  aspect-ratio: 12/16;
  background: url("../img/phone_hand.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
@media (max-width: 51.25em) {
  .section-beta__image {
    left: -12rem;
    translate: 0 20rem;
    width: 70%;
    height: 50%;
  }
}
.section-beta__image2 {
  position: absolute;
  bottom: 0;
  left: 10rem;
  translate: 0 12rem;
  height: 55%;
  aspect-ratio: 12/16;
  background: url("../../img/equipos/sensor.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
@media (max-width: 51.25em) {
  .section-beta__image2 {
    left: -12rem;
    translate: 0 20rem;
    width: 70%;
    height: 50%;
  }
}

.section-gama {
  width: 100%;
  height: 100vh;
  padding: 2rem 6rem 1rem 6rem;
}
.section-gama__top-line {
  align-self: flex-start;
  width: 92%;
  height: 5rem;
  background: linear-gradient(#050505, #050505);
  background-repeat: no-repeat;
  background-position: 9rem 0%;
  background-size: 0% 1px;
  transition: background-size 0.3s ease-in;
}
.section-gama__container {
  width: 100%;
  height: 80%;
  padding-top: 15rem;
  display: grid;
  grid-template-columns: 38% 1fr;
  grid-template-rows: 1fr;
}
@media (max-width: 51.25em) {
  .section-gama__container {
    grid-template-columns: 1fr;
    grid-template-rows: 38% 1fr;
    height: 100%;
    padding-bottom: 10rem;
  }
}
.section-gama__left {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #050505;
}
@media (max-width: 51.25em) {
  .section-gama__left {
    background: linear-gradient(#050505, #050505);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 1px 80%;
    padding-left: 6rem;
  }
}
@media (max-width: 51.25em) {
  .section-gama__left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 8rem;
    width: 1rem;
    background-color: #050505;
    translate: 0 20rem;
  }
}
.section-gama__image {
  width: 90%;
  height: 100%;
  background: url("../img/compressjpeg/3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 51.25em) {
  .section-gama__image {
    width: 100%;
    height: 100%;
  }
}
.section-gama__image2 {
  width: 90%;
  height: 100%;
  background: black url("../img/compressjpeg/9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 51.25em) {
  .section-gama__image2 {
    width: 100%;
    height: 100%;
  }
}
.section-gama__image3 {
  width: 90%;
  height: 70%;
  background: url("../img/compressjpeg/10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(1) opacity(0.6);
}
@media (max-width: 51.25em) {
  .section-gama__image3 {
    width: 100%;
    height: 100%;
  }
}
.section-gama__image4 {
  width: 90%;
  height: 70%;
  background: url("../img/compressjpeg/10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: opacity(0.6);
}
@media (max-width: 51.25em) {
  .section-gama__image4 {
    width: 100%;
    height: 100%;
  }
}
.section-gama__image5 {
  width: 90%;
  height: 70%;
  background: url("../img/compressjpeg/10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: opacity(0.6);
}
@media (max-width: 51.25em) {
  .section-gama__image5 {
    width: 100%;
    height: 100%;
  }
}
.section-gama__image6 {
  width: 90%;
  height: 70%;
  background: url("../img/compressjpeg/10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: opacity(0.6);
}
@media (max-width: 51.25em) {
  .section-gama__image6 {
    width: 100%;
    height: 100%;
  }
}
.section-gama__right {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-left: 3rem;
  background: linear-gradient(#050505, #050505);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 1px 100%;
  color: #050505;
}
@media (max-width: 51.25em) {
  .section-gama__right {
    padding: 0;
    background-size: 0 0;
    background-color: black;
  }
}
.section-gama__right::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 8rem;
  width: 1rem;
  background-color: #050505;
  translate: 0 20rem;
}
@media (max-width: 51.25em) {
  .section-gama__right::after {
    display: none;
  }
}
.section-gama__right img.img1 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 40%);
  width: 50%;
  height: auto;
  align-self: center;
  background-color: transparent;
}
.section-gama__right img.img2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-45%, 40%);
  width: 100%;
  height: auto;
  align-self: center;
  background-color: transparent;
}
.section-gama__title {
  font-size: 5rem;
  font-weight: 800;
}
@media (max-width: 75em) {
  .section-gama__title {
    font-size: 5rem;
  }
}
@media (max-width: 40.625em) {
  .section-gama__title {
    text-align: left;
    font-size: 4.1rem;
  }
}
.section-gama__list {
  font-size: 2.3rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
@media (max-width: 75em) {
  .section-gama__list {
    font-size: 2.5rem;
  }
}
@media (max-width: 51.25em) {
  .section-gama__list {
    font-size: 2.8rem;
  }
}
@media (max-width: 40.625em) {
  .section-gama__list {
    font-size: 2.4rem;
    text-align: left;
  }
}

.section-delta {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #050505;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}
.section-delta__background {
  width: 100%;
  height: 100%;
  background: url("../img/compressjpeg/8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: opacity(0.4);
}
.section-delta__background2 {
  width: 100%;
  height: 100%;
  background: url("../img/compressjpeg/3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: opacity(0.4);
}
.section-delta__title {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  width: 55%;
  position: absolute;
  top: 8%;
}
.section-delta__text-box {
  position: absolute;
  bottom: 4rem;
  right: 0;
  width: 61%;
  padding-right: 10rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(#F3F4F4, #F3F4F4);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 1px 100%;
}
@media (max-width: 40.625em) {
  .section-delta__text-box {
    width: 80%;
    bottom: 8rem;
    right: 50%;
    translate: 50% 0;
    padding-left: 5%;
    padding-right: 0;
    align-self: center;
    background-position: 0 0;
    background-size: 1px 90%;
  }
}
.section-delta__text-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 6rem;
  background-color: #F3F4F4;
  translate: 0 25rem;
}
@media (max-width: 40.625em) {
  .section-delta__text-box::after {
    translate: 0 18rem;
  }
}
.section-delta__text-box__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 2.3rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
@media (max-width: 75em) {
  .section-delta__text-box__list {
    font-size: 2.5rem;
  }
}
@media (max-width: 51.25em) {
  .section-delta__text-box__list {
    font-size: 2.8rem;
  }
}
@media (max-width: 40.625em) {
  .section-delta__text-box__list {
    font-size: 2.4rem;
    text-align: right;
  }
}
.section-delta__text-box__title {
  font-size: 5rem;
}
@media (max-width: 75em) {
  .section-delta__text-box__title {
    font-size: 5rem;
  }
}
@media (max-width: 40.625em) {
  .section-delta__text-box__title {
    text-align: right;
    font-size: 4.1rem;
  }
}
.section-delta__image {
  position: absolute;
  bottom: 0;
  left: 10rem;
  translate: 0 12rem;
  width: 25%;
  height: 65%;
  background: grey url("../../img/house_small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.img-delta {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-4rem, 8rem);
}

.img-delta2 {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-6rem);
}

nav {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #F3F4F4 linear-gradient(#1c50ba, #1c50ba);
  background-repeat: no-repeat;
  background-position: 1rem 100%;
  background-size: calc(100vw - 2rem) 2px;
  z-index: 100;
}

nav img {
  height: 70%;
  width: auto;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  padding: 0 1rem;
}

.menu li {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu li a {
  color: #F3F4F4;
  height: 100%;
  font-size: 3rem;
  padding: 1rem 2rem;
  transition: translate 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li a i {
  transition: scale 0.1s ease;
  color: #1c50ba;
}

.menu li a:hover > i {
  scale: 1.1;
}

.line-container--1 {
  position: absolute;
  bottom: 0;
  width: 60%;
  height: 1rem;
  translate: -5vw 0;
  background: linear-gradient(#F3F4F4, #F3F4F4);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0% 1px;
  transition: background-size 0.1s ease-in;
}
@media (max-width: 75em) {
  .line-container--1 {
    width: 55%;
    translate: -8vw 0;
  }
}
@media (max-width: 51.25em) {
  .line-container--1 {
    width: 22%;
    translate: -8vw 0;
  }
}
@media (max-width: 40.625em) {
  .line-container--1 {
    display: none;
  }
}
.line-container--1.underlined {
  background-size: 100% 1px;
}
.line-container--2 {
  position: absolute;
  left: 0;
  margin: 0 auto;
  height: 90%;
  width: 1rem;
  background: linear-gradient(#F3F4F4, #F3F4F4);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 1px 0%;
  transition: background-size 0.1s ease-in;
}
@media (max-width: 40.625em) {
  .line-container--2 {
    height: 94%;
  }
}
.line-container--2.underlined {
  background-size: 1px 100%;
}

.button-close {
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.1s ease-in, opacity 0.2s ease-in;
  border-style: solid;
  border-color: #050505;
  border-width: 2px;
  border-radius: 4px;
  background-color: #F3F4F4;
  opacity: 0;
  z-index: 100;
}
@media (max-width: 40.625em) {
  .button-close {
    width: 4rem;
    height: 4rem;
  }
}
.button-close:hover {
  scale: 1.3;
}
.button-close:hover > i {
  scale: 1.2;
}

.button-close i {
  font-size: 2rem;
  font-weight: 600;
  transition: scale 0.1s ease-in;
  color: #050505;
}
@media (max-width: 40.625em) {
  .button-close i {
    font-size: 3rem;
  }
}

.button {
  padding: 0.7rem 1.5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  transition: background-size 0.1s ease-in;
}
@media (max-width: 51.25em) {
  .button {
    font-size: 2.6rem;
  }
}
.button__dark {
  padding: 0.7rem 1.6rem;
  color: #050505;
  border-color: #050505;
  background: linear-gradient(#050505, #050505);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0px;
}
.button__dark:hover {
  background-size: 100% 100%;
  color: #F3F4F4;
}
.button__light {
  color: #F3F4F4;
  border-color: #F3F4F4;
  background: linear-gradient(#F3F4F4, #F3F4F4);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 0px;
}
.button__light:hover {
  background-size: 100% 100%;
  color: #050505;
}

/*# sourceMappingURL=main.css.map */
