.table-description, .table-value, .table-type, .table-price, .table-equipo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
}
.table-type, .table-equipo {
    font-size: 1.6rem;
    background-color: rgb(231, 231, 231);
}
.table-description, .table-value {
    background-color: rgba(189, 185, 171, 0.7);
}
.table-equipo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    
}

.table-description {
    
    grid-column: 1 / 2;
    font-size: 1.2rem;
    padding: 1rem;
    font-size: 1.6rem;
    &--1 {
        grid-row: 2 / 3;
    }
    &--2 {
        grid-row: 3 / 4;
    }
    &--3 {
        grid-row: 4 / 5;
    }
}
.table-description img {
    width: 20%;
    height: auto;
}
.table-description p {
    width: 100%;
    padding: 0 1rem;
    padding-left: 3rem;
}

.table-value {
    font-size: 1.8rem;
    grid-row: 2 / 3;
    &--1 {
        grid-column: 2 / 3;
    }
    &--2 {
        grid-column: 3 / 4;
    }
    &--3 {
        grid-column: 4 / 5;
    }
    &--4,&--5,&--6 {
        grid-row: 3 / 4;
    }
    &--4 {
        grid-column: 2 / 3;
    }
    &--5 {
        grid-column: 3 / 4;
    }
    &--6 {
        grid-column: 4 / 5;
    }
    &--7,&--8,&--9 {
        grid-row: 4 / 5;
    }
    &--7 {
        grid-column: 2 / 3;
    }
    &--8 {
        grid-column: 3 / 4;
    }
    &--9 {
        grid-column: 4 / 5;
    }
    &--10,&--11,&--12 {
        grid-row: 5 / 6;
    }
    &--10 {
        grid-column: 2 / 3;
    }
    &--11 {
        grid-column: 3 / 4;
    }
    &--12 {
        grid-column: 4 / 5;
    }
    &--13,&--14,&--15 {
        grid-row: 6 / 7;
    }
    &--13 {
        grid-column: 2 / 3;
    }
    &--14 {
        grid-column: 3 / 4;
    }
    &--15 {
        grid-column: 4 / 5;
    }
    &--16,&--17,&--18 {
        grid-row: 7 / 8;
    }
    &--16 {
        grid-column: 2 / 3;
    }
    &--17 {
        grid-column: 3 / 4;
    }
    &--18 {
        grid-column: 4 / 5;
    }
    &--19,&--20,&--21 {
        grid-row: 8 / 9;
    }
    &--19 {
        grid-column: 2 / 3;
    }
    &--20 {
        grid-column: 3 / 4;
    }
    &--21 {
        grid-column: 4 / 5;
    }
}

.table-type {
    grid-row: 1 / 2;
    &--1 {
        grid-column: 2 / 3;
    }
    &--2 {
        grid-column: 3 / 4;
    }
    &--3 {
        grid-column: 4 / 5;
    }
}
.table-price {
    
    background-color: rgba(202, 172, 1, 0.66);
    font-size: 1.8rem;
    &__iluminacion {
        grid-row: 5 / 6;
    }
    &__seguridad {
        grid-row: 9 / 10;
    }
    &__vigilancia {
        grid-row: 6 / 7;
    }
    &__conectividad, &__videoportero, &__musica {
        grid-row: 4 / 5;
    }
    &--1 {
        grid-column: 2 / 3;
    }
    &--2 {
        grid-column: 3 / 4;
    }
    &--3 {
        grid-column: 4 / 5;
    }
}