.header{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-black;
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../img/compressjpeg/fondo_principal.jpg");
        background-position: top;
        background-size:cover;
        background-repeat: no-repeat;
        filter: opacity(.4);
    }

    &__content {
        position: relative;
        width: 85%;
        height: 78%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include respond(phone){
            width: 80%;
            height:80%;
        }
    }

    &__servicios {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        translate: 0 50%;
        opacity: 0;
        transition: opacity .2s ease-in;
        @include respond(phone){
            flex-direction: column;
            width: 100%;
            bottom: 50%;
            right: 50%;
            translate: 50% 50%;
        }
        &__title {
            font-size: 2.5rem;
            @include respond(tab-port){
                font-size: 3rem;
            }
            @include respond(phone){
                font-size: 4rem;
            }
        }
    }
    &__servicios.show {
        opacity: 1;
    }
    &__servicios a i {
        color: white;
        font-size: 4rem;
        margin-left: 2rem;
        transition: scale .1s ease-in;
        @include respond(tab-land){
            font-size: 6rem;
        }
        @include respond(tab-port){
            font-size: 7rem;
        }
        @include respond(phone){
            font-size: 7rem;
            margin-top: 3rem;
        }
    }
    &__servicios a i:hover {
        scale: 1.2;
    }
    &__content img.logo {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        margin: 0 auto;
        width: 30%;
        opacity: 0;
        transition: opacity .5s ease-in;
        @include respond(phone){
            width: 50%;
        }
    }
    &__content img.logo.show {
        opacity: 1;
    }
    &__content a.local-logo {
        position: absolute;
        top: 50%;
        translate: 0% -50%;
        margin: 0 auto;
        width: 30%;
        opacity: 0;
        transition: opacity .2s ease-in, translate .4s ease-in;
        @include respond(tab-land){
            width: 40%;
        }
        @include respond(phone){
            width: 50%;
        }
    }
    &__content a img {
        width: 100%;
        height: 100%;
        transition: scale .1s ease-in;
    }
    &__content a img:hover {
        scale: 1.2;
    }
    &__content a.local-logo.show {
        opacity: 1;
    }
    &__content a.local-logo.translated {
        top: 100%;
        width: 10%;
        left: 0;
        @include respond(tab-port){
            width: 22%;
        }
        @include respond(phone){
            width: 30%;
        }
    }
    
}
.name {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    margin: 0 auto;
    opacity: 0;
    font-size: 8rem;
    transition: opacity .5s ease-in;
    @include respond(phone){
        top: 2%;
        width: 50%;
    }

}
.name.show {
    opacity: 1
}