.line-container {
    &--1 {
        position: absolute;
        bottom: 0;
        width: 60%;
        height: 1rem;
        translate: -5vw 0;
        background: linear-gradient($color-white, $color-white);
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 0% 1px;
        transition: background-size .2s ease-in;
        @include respond(phone){
            width: 10%;
            translate: -14vw 0;
        }
    }
    &--1.underlined {
        background-size: 100% 1px;
    }
    &--2 {
        position: absolute;
        left:0;
        margin: 0 auto;
        height: 90%;
        width: 1rem;
        background: linear-gradient($color-white, $color-white);
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 1px 0%;
        transition: background-size .2s ease-in;
        @include respond(phone){
            height: 94%;
        }
        
    }
    &--2.underlined {
        background-size: 1px 100%;
    }
}