@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap');

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
    color: $color-white;
    padding: $body-frame;
    padding-bottom: 0;
    padding-top: 0;
}

a,
a:link,
a:visited {
    text-decoration: none !important;
}

ul {
    list-style: none;
}
input[type=number] {
    -moz-appearance: textfield;
}

input[type="submit"] {
    color: inherit;
}