.section-gama {
    width: 100%;
    height: 100vh ;
    padding: 2rem 6rem 1rem 6rem;
    &__top-line {
        align-self: flex-start;
        width: 92%;
        height: 5rem;
        background: linear-gradient($color-black, $color-black);
        background-repeat: no-repeat;
        background-position: 9rem 0%;
        background-size: 0% 1px;
        transition: background-size .3s ease-in;
    }
    &__container {
        width: 100%;
        height: 80%;
        padding-top: 15rem;
        display: grid;
        grid-template-columns: 38% 1fr;
        grid-template-rows: 1fr;
        @include respond(tab-port){
            grid-template-columns: 1fr;
            grid-template-rows: 38% 1fr;
            height: 100%;
            padding-bottom: 10rem;
        }
    }
    &__left {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        color: $color-black;
        
        @include respond(tab-port){
            background: linear-gradient($color-black, $color-black);
            background-repeat: no-repeat;
            background-position: 0% 0%;
            background-size: 1px 80%;
            padding-left: 6rem;
        }
        &::after {
            @include respond(tab-port){
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 8rem;
                width: 1rem;
                background-color: $color-black;
                translate: 0 20rem;
            }
        }
    }
    &__image {
        width: 90%;
        height: 100%;
        background: url("../img/compressjpeg/3.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include respond(tab-port){
            width: 100%;
            height: 100%;
        }
    }
    &__image2 {
        width: 90%;
        height: 100%;
        background: black url("../img/compressjpeg/9.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include respond(tab-port){
            width: 100%;
            height: 100%;
        }
    }
    &__image3 {
        width: 90%;
        height: 100%;
        background: url("../img/compressjpeg/10.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter:grayscale(.5);
        @include respond(tab-port){
            width: 100%;
            height: 100%;
        }
    }
    &__image4 {
        width: 90%;
        height: 70%;
        background: url("../img/compressjpeg/10.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: opacity(.6);
        @include respond(tab-port){
            width: 100%;
            height: 100%;
        }
    }
    &__image5 {
        width: 90%;
        height: 70%;
        background: url("../img/compressjpeg/10.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: opacity(.6);
        @include respond(tab-port){
            width: 100%;
            height: 100%;
        }
    }
    &__image6 {
        width: 90%;
        height: 70%;
        background: url("../img/compressjpeg/10.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: opacity(.6);
        @include respond(tab-port){
            width: 100%;
            height: 100%;
        }
    }
    &__right {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-left: 3rem;
        background: linear-gradient($color-black, $color-black);
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 1px 100%;
        color: $color-black;
        @include respond(tab-port){
            padding: 0;
            background-size: 0 0;
            background-color: black;
            
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 8rem;
            width: 1rem;
            background-color: $color-black;
            translate: 0 20rem;
            @include respond(tab-port){
                display: none;
            }
        }
    }
    &__right img.img1 {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 40%);
        width: 50%;
        height: auto;
        align-self: center;
        background-color: transparent;
    }
    &__right img.img2 {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-45%, 40%);
        width: 100%;
        height: auto;
        align-self: center;
        background-color: transparent;
    }
    &__right img.img3 {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0rem, 12rem);
        width: 60%;
        height: auto;
        align-self: center;
        background-color: transparent;
    }
    &__title{
        font-size: 5rem;
        font-weight: 800;
        @include respond(tab-land){
            font-size: 5rem;
        }
        @include respond(phone){
            text-align: left;
            font-size: 4.1rem;
        }
    }
    &__list{
        font-size: 2.3rem;
        margin-top: 5rem;
        margin-bottom: 4rem;
        @include respond(tab-land){
            font-size: 2.5rem;
        }
        @include respond(tab-port){
            font-size: 2.8rem;
        }
        @include respond(phone){
            font-size: 2.4rem;
            text-align: left;
        }
    }
}