.section-paquetes {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-paquetes {
    width: 60%;
    margin-top: 10rem;
    display: grid;
    
    &__iluminacion {
        grid-template-columns: 50% repeat(3, 1fr);
        row-gap: .5rem;
        column-gap: .5rem;
        grid-template-rows: repeat(5, 1fr);
    }
}