.section-beta{
    position:relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__background {
        width: 100%;
        height: 100%;
        background: url("../img/compressjpeg/1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: opacity(.2);
    }
    &__background2 {
        width: 100%;
        height: 100%;
        background: url("../img/compressjpeg/13.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: opacity(.5) blur(2px);
    }
    &__background3 {
        width: 100%;
        height: 100%;
        background: url("../img/compressjpeg/4.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: opacity(.5) blur(2px);
    }
    &__title{
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        width: 55%;
        position: absolute;
        top: 8%;
        @include respond(tab-land){
            font-size: 3.3rem;
        }
        @include respond(tab-port){
            width: 90%;
        }
        @include respond(phone){
            width: 70%;
        }
    }
    &__title2{
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;
        width: 42%;
        position: absolute;
        top: 8%;
        left: 20rem;
        @include respond(tab-land){
            font-size: 3.3rem;
        }
        @include respond(tab-port){
            width: 90%;
        }
        @include respond(phone){
            width: 70%;
        }
    }
    &__text-box{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 61%;
        padding-top: 8rem;
        padding-right: 10rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background: linear-gradient($color-white, $color-white);
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 1px 100%;
        text-align: right;
        @include respond(tab-port){
            bottom: 50%;
            translate: 0 30%;
            padding-left: 5%;
        }
        @include respond(phone){
            width: 80%;
            bottom: 50%;
            right: 50%;
            translate: 50% 30%;
            padding-left: 5%;
            padding-right: 0;
            align-self: center;
            background-position: 0 0;
            background-size: 1px 90%;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1rem;
            height: 6rem;
            background-color: $color-white;
            translate: 0 10rem;
        }
        &__list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            font-size: 2.3rem;
            margin-top: 5rem;
            margin-bottom: 4rem;
            @include respond(tab-land){
                font-size: 2.5rem;
            }
            @include respond(tab-port){
                font-size: 2.8rem;
            }
            @include respond(phone){
                font-size: 2.6rem;
            }
        }
        &__list li {
            @include respond(phone){
                text-align: right;
            }
            
        }
        &__title {
            font-size: 5rem;
            @include respond(tab-land){
                font-size: 5rem;
            }
            @include respond(phone){
                text-align: right;
                font-size: 4.1rem;
            }
        }
    }
    &__image {
        position: absolute;
        bottom: 0;
        left: 10rem;
        translate: 0 12rem;
        height: 70%;
        aspect-ratio: 12 / 16;
        background: url("../img/phone_hand.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
        @include respond(tab-port){
            left: -12rem;
            translate: 0 20rem;
            width: 70%;
            height: 50%;
        }
    }
    &__image2 {
        position: absolute;
        bottom: 0;
        left: 10rem;
        translate: 0 12rem;
        height: 55%;
        aspect-ratio: 12 / 16;
        background: url("../../img/equipos/sensor.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
        @include respond(tab-port){
            left: -12rem;
            translate: 0 20rem;
            width: 70%;
            height: 50%;
        }
    }
    
    
}

